<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862371581041-4p5g1cpel1t3e95mdl9ncjn9qegraa7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862371581041-4p5g1cpel1t3e95mdl9ncjn9qegraa7o</string>
	<key>API_KEY</key>
	<string>AIzaSyB_0EWhFuRm3VFsj_g1VM72zY4NkpMikNU</string>
	<key>GCM_SENDER_ID</key>
	<string>862371581041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmr.visionary.visionary</string>
	<key>PROJECT_ID</key>
	<string>eyeconnect-65sog</string>
	<key>STORAGE_BUCKET</key>
	<string>eyeconnect-65sog.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:862371581041:ios:77ee3a55a88f273cdc5fd0</string>
</dict>
</plist>